.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212, #212b46);
}

.title {
  margin: 150px 0 0 0;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
  animation-duration: 3s;
  animation-name: slidein;
}

.containerInput {
   background-color: rgb(255, 255, 255, 0.2);
   padding: 15px;
   margin: 35px;
   display: flex;
   border-radius: 5px;
   box-shadow: 1px 3px 5px 4px #121212;
}

.containerInput input {
  
    background-color: transparent;
    border: transparent;
    font-size: 20px;
    outline: none;
    color: aliceblue;
    margin-right: 8px;
  }

.button{
  background-color: transparent;
  border: transparent;
  outline: none;
  color: aliceblue;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button:hover{
   transform: scale(1.5);
  }
  


.main {
    width: 300px;
    height: 300px;
    background-color: #f1f1f1;
    display: flex;
    align-items: left;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 2px 3px 5px 4px #121212;
}

.main h2{

    margin: 16px 10px;
    font-size: 30px;
    color: darkred;
  }

  .main span{

   margin-left: 10px;
   margin-bottom: 16px;
   font-size: 18px;
   font-weight: bold;
  }

@media (max-width: 823px){

    .title{
        font-size: 40px;
    }
}
  

@keyframes titleanimer {
    from{
        transform: rotateX(90deg);
    }

    to{
        transform: rotateX(0deg);
    }
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
